<h2 *ngIf="displayName; else elseBlock">
    Lesson 12: ngIf Directive
</h2>

<ng-template #elseBlock>
    <h2>
        Name is hiddden
    </h2>
</ng-template>

<div *ngIf="displayName; then thenBlock; else elseBlock2;">

</div>

<ng-template #thenBlock>
    <h2>Then block</h2>
</ng-template>

<ng-template #elseBlock2>
    <h2>Else block</h2>
</ng-template>

<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">You picked Red</div>
    <div *ngSwitchCase="'blue'">You picked Blue</div>
    <div *ngSwitchCase="'green'">You picked Green</div>
    <div *ngSwitchDefault>You didn't pick anything</div>
</div>